@import "config", "helper";

.PostPosted {
  display: none;
  //   visibility: hidden;
  margin-top: 2rem;
  width: 70%;
  min-width: 200px;
  margin: 2rem auto;
  border: 2px solid darken($white-smoke, 10%);
  border-radius: 1rem;
  max-height: 10rem;
  padding: 0.5rem;

  //   display: flex;

  &.active {
    display: flex;
    // visibility: visible;
  }
}

.gifsPosted {
  display: flex;
  flex-wrap: wrap;
  max-height: 100%;
  overflow-y: auto;
  border: 1px solid lighten($facebook-color, 20%);

  img {
    margin: 1rem;
  }
}
