.m-sr {
  margin-right: 0.2rem;
}
.m-r {
  margin-right: 0.4rem;
}

.pa-s {
  padding: 0.2rem;
}

.pa-m {
  padding: 0.5rem;
}

.light-grey {
  color: rgba($bg-color, 0.8);
}

.col-15 {
  width: 15%;
}

.col-85 {
  width: 85%;
}
