.m-sr {
  margin-right: 0.2rem;
}

.pa-s {
  padding: 0.2rem;
}

.pa-m {
  padding: 0.5rem;
}

.light-grey {
  color: rgba($bg-color, 0.8);
}

.col-15 {
  width: 15%;
}

.col-85 {
  width: 85%;
}

.pointer {
  cursor: pointer;
}

.col-60 {
  width: 60%;
}

.col-40 {
  width: 40%;
}
